:root {
  --pink: #ff1493;
  --bg: #000000;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
}

/* Hero Start */
.hero {
  min-height: 100vh;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/bg-prewed.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero h1 {
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  margin-top: -0.5rem;
}

.hero h4 {
  font-size: 1.5rem;
}

.hero p {
  margin-top: 1rem;
  font-size: 1rem;
}

.hero h1 .hero h4 .hero p {
  text-shadow: var(--shadow);
}

.hero a {
  color: var(--pink);
  background-color: white;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: var(--pink);
  color: white;
}
/* Hero End */

/* Navigasi Start */

.navigasi {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
}

.navigasi .offcanvas {
  height: 100vh;
}

.navigasi .navbar-brand,
.navigasi .offcanvas-title {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
}

.navigasi .nav-link {
  font-weight: 500;
  text-transform: uppercase;
}

/* Navigasi End */

/* Home Section Start */

.home {
  background-image: url(img/bg-home.png);
  background-size: cover;
  min-height: 100vh;
  margin-top: -5.4rem;
  padding-top: 8rem;
  padding-bottom: 2rem;
}

.home h2 {
  font-family: "Pacifico", cursive;
  color: var(--pink);
  font-size: 4rem;
}

.home h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1rem;
}

/* Couple Start */

.home .couple {
  margin-top: 50px;
}

.home .couple h3 {
  font-family: "Pacifico";
  color: var(--pink);
  font-size: 2rem;
}

.home .couple img {
  width: 100%;
}

.home .love {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  border-style: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .love i {
  margin: auto;
  color: var(--pink);
}

/* Couple End */

/* Home Section End */

/* Info Section Start */

.info {
  background-color: var(--bg);
  color: white;
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.info h2 {
  color: var(--pink);
  font-family: "Pacifico";
  font-size: 4rem;
}

/* Alamat */

.info .alamat {
  font-size: 1.2rem;
}

.info .deskripsi {
  font-size: 1rem;
  font-weight: 300;
}

/* Jadwal */

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.info .card-body {
  font-size: 0.92rem;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.8rem;
  font-weight: 300;
}

/* Info Section End */

/* Media Query */

/* XL */

@media (max-width: 1200px) {
  .home .love {
    transform: translateX(-50%) translateY(45px);
  }
}

/* Laptop */

@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 7px;
  }

  .home .love {
    display: none;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 30px;
    margin: 5px;
  }
  .navigasi .nav-link {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
  }
}
/* Handphone */
@media (max-width: 576px) {
  html {
    font-size: 55%;
  }
  .simply-countdown > .simply-section {
    padding: 20px;
    margin: 3px;
  }
}
